HF_TOKEN="hf_token_here"
HF_HUB_ENABLE_HF_TRANSFER=1

# Cloud Paths (e.g., gs://my-bucket/data)
DATA_ROOT=gs://huggingface-tokenized
#CHECKPOINT_ROOT=gs://huggingface-tokenized/checkpoints
CHECKPOINT_ROOT=/home/matheus_l1996/TinyRefinementModel/local_checkpoints