# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs & AI Editors
.vscode/
.idea/
.cursorignore
.cursorindexingignore
.cursor/

# Type checkers & Linters
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Project Specifics & Large Binary Outputs
runs/
tpu_data/
orbax_checkpoints/
npy_dir/
*.npy
*.pkl
*.png
pip-log.txt
auxmd.md
auxpy.py

